boto3
celery
django
django-celery-beat
django-cors-headers
django-filter
django-stubs
django-timezone
djangorestframework
PyJWT
djangorestframework-simplejwt
djangorestframework-stubs
docopt
flake8
pytz
redis
requests
supervisor
psycopg2-binary
twilio
uWSGI
croniter
pretty-cron
factory-boy
mock
coverage
freezegun
gunicorn
